* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, sans-serif;
    text-align: center;
    color: #000;

}

.header {
    height: 80px;
    background-color: rgb(0, 156, 247);
}

.wrapper {}

.content_box {
    overflow: hidden;
}

.box_one {
    width: 40%;
    height: 100px;
    float: left;
    background-color: rgb(151, 0, 0);
}

.box_two {
    width: 60%;
    height: 100px;
    float: right;
    background-color: rgb(255, 251, 12);
}

.box_three {
    width: 60%;
    height: 100px;
    float: left;
    background-color: rgba(255, 251, 1, 0.7);
}

.box_four {
    width: 40%;
    height: 100px;
    float: right;
    background-color: rgb(151, 0, 0);
}

.box_five {
    width: 40%;
    height: 100px;
    float: left;
    background-color: rgba(151, 0, 0, 0.789);
}

.box_six {
    width: 60%;
    height: 100px;
    float: right;
    background-color: rgb(0, 141, 151);
}

.footer {
    height: 80px;
    background-color: rgb(24, 228, 58);
}